
body{
	background-color:#800;
}
.title{
	color: #DDD;
	text-align: center;
}


.try-honja{
}


.try-button{
	text-align: center;
	padding-bottom:10px;
}
.about{
  background-color: rgba(255,255,255,0.3);
}

.result-table tr{
	border: 1px solid #555;
}
.result-table tr,
.result-table td{
	background-color: rgba(255,255,255,0.1);
	color:#DDD;
}
