
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
  }
body{
	background-color:rgba(175,75,78,1);
}
.title{
	color: #DDD;
	text-align: center;
}

.white-bg .title{
	color:#333;
}


.honja-result{
	word-break: break-all;
	word-wrap: break-word;
}
.try-honja{
	padding-top:60px;
}

.try-button{
	text-align: center;
}
.about{
  background-color: rgba(255,255,255,0.9);
  padding:20px;
}

.result-table tr{
	border: 1px solid #555;
}
.result-table tr,
.result-table td{
	background-color: rgba(255,255,255,0.1);
	color:#DDD;
	font-size:17px;
}
.honja-description{
	text-align: center;
	white-space: pre-line;
	line-height:30px;
}

.copyright{
	margin-top:5px;
}
.copyright p{
	color:#DDD;
	text-align:center;
}
.hasLink{
	text-decoration: underline;
	cursor: pointer;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
