<!DOCTYPE html>
<html lang="ja" ng-app="honja"> <head>
		<meta charset="utf-8">
		<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" dir="ltr" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">

		<title>HONJA: The Hiragana Transliterator 「ほんじゃ」多言語かな翻字サービス</title>
		<meta name=”keywords” content=”言語,多言語,タイ語,韓国語,アラビア語,ヘブライ語,ロシア語,キリル文字,グルジア,アルメニア,ヒンディー, デーヴァナーガリー,シンハラ,タミル,チベット”>
		<meta name=”description” content=”ひらがな・カタカナの音を、他の言語の文字を使って表す「翻字（ほんじ）」サービスです。”>
		
		<meta property="og:title" content="HONJA: The Hiragana Transliterator 「ほんじゃ」多言語かな翻字サービス">
		<meta property="og:type" content="article">
		<meta property="og:description" content="Describes Japanese sounds using other language characters ひらがな・カタカナの音を、他の言語の文字を使って表す「翻字（ほんじ）」サービスです。">
		<meta property="og:url" content="http://magnetohacks.com/HONJA/">
		<meta property="og:image" content="http://magnetohacks.com/HONJA/HonjaLogoSquare.png">
		<meta property="og:site_name" content="HONJA:「ほんじゃ」多言語かな翻字サービス">

		
		
		<script>
  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  			ga('create', 'UA-17390863-3', 'auto');
  			ga('send', 'pageview');
		</script>	
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>HONJA: The Hiragana Transliterator</title>
		<link rel="stylesheet" href="./bootstrap/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="./css/index.css">
		<script src="js/angular.min.js"></script>
		<script src="js/index.js"></script>
	</head>

	<body>
		<div ng-controller="HonjaController">
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand">HONJA</a>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#honja-navi">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>

					<div id="honja-navi" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
						<li><a href="" ng-click="english()">English</a></li>
						<li><a href="" ng-click="japanese()">日本語</a></li>
						<li><a href="" ng-click="openAbout()">about</a></li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="try-honja ng-cloak">
				<div class="container">
					<h3 class="title">{{language.localize.try_honja}}</h3>
					<br>
					<input type="text" id="honja-input" class="form-control input-small" ng-model="input" placeholder="{{language.localize.enter_hiragana_or_katakana}}">
					<br>
					<br>
					<center><button type="button" class="try-button btn btn-danger" ng-click="transliterate()">HONJA!</button></center>
					<br>
					<br>

					<table class="result-table table table-hover">
						<tr ng-repeat="result in results">
							<td class="language-name">{{language.languageNameList[result.language]}}</td>
							<td class="honja-result" ng-click="goToGoogleTranslate(result.url)" ng-class="{hasLink: result.url != null}">{{result.res}}</td>
						<tr>
					</table>
				</div>
			</div>
			<div class="about white-bg">
				<h4 class="title">{{language.localize.what_is_honja}}</h4>

				<h5 class="honja-description">
					{{language.localize.honja_description}}
				</h5>
			</div>
			<div class="copyright">
				<div class="container">
				<p>Copyright(C) 2015, Akira Yoshikai and Takuto Yoshikai. All rights reserved. Ver. 1.14β </p>
				</div>
			</div>
		</div>
		<script src="js/jquery.js"></script>
		<script src="./bootstrap/js/bootstrap.js"></script>
	</body>
</html>
